*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-header{
    position: sticky;
    top: 0;
    background: #545454;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 0.3rem solid #6baa74;
}
.navbar-header img{
    width: 70px;
}
.navbar-btn{
    border: 5px solid #6baa74;
    cursor: pointer;
    align-self: center;
}
.changeBtn .bar1{
    transform: rotate(-45deg) translate(-10px, 10px)
}
.changeBtn .bar2{
    opacity: 0;
}
.changeBtn .bar3{
    transform: rotate(45deg) translate(-7px, -8px)
}
.bar1, .bar2, .bar3{
    width:30px;
    height: 5px;
    margin: 0.5rem;
    background: #6baa74;
    transition: all 2s ease;
}
.navbar-link{
    list-style: none;
    transition: all 2s ease;
    /*  */
    height: 0;
    overflow: hidden;
}
.navbar-collapse{
    height: 240px;
}
.navbar-single-link{
    display: block;
    background: #69747c;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 1s ease;
    text-transform: capitalize;
    color: #6baa74;
}
.navbar-single-link:hover{
    padding-left: 3rem;
    background: #545454;
}

header{
    min-height: calc(100vh - 91.8px);
    background: url("image/image-3.jpg")center/cover no-repeat;
}